.menuBox {
  background-color: var(--aimm-bg-paper);
  height: 100%;
}

.navbar {
  padding-top: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  border-top: 1px solid var(--mantine-color-blue-4);
  padding-top: 15px;
  margin-top: 15px;
}

.links {
  flex: 1;
}
