.control {
  font-weight: 500;
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-sm);
  margin-bottom: calc(var(--mantine-spacing-sm) * 0.5);
  border-radius: var(--mantine-radius-default);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-md);

  @mixin hover {
    background-color: var(--mantine-color-blue-1);
    color: var(--mantine-color-text);
  }
}

.link {
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  padding-left: var(--mantine-spacing-md);
  margin-left: var(--mantine-spacing-xl);
  border-left: 1px solid var(--mantine-color-blue-4);
  border-top-right-radius: var(--mantine-radius-default);
  border-bottom-right-radius: var(--mantine-radius-default);
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-text);

  @mixin hover {
    background-color: var(--mantine-color-blue-1);
    color: var(--mantine-color-text);
  }
}

.active {
  background-color: var(--mantine-color-blue-2);
  font-weight: 600;
}

.activeLink {
  background-color: var(--mantine-color-blue-2);
  font-weight: 600;
}
