.root {
  display: flex;
  min-height: 100vh;
  background: var(--aimm-gradient-bg);
}

.rootPattern {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-image: url('pattern.svg');
  background-repeat: repeat;
  background-position: 0 0;
}

.boxLogin {
  min-width: 400px;
  max-width: 400px;
  margin: auto;
  margin-top: 60px;
}

.boxLogo {
  text-align: center;
  height: 100px;
  object-fit: contain;
  margin: auto;
  max-width: 100%;
  margin-bottom: var(--mantine-spacing-xl);
}

.boxTitle {
  text-align: center;
}
